.tripleDisplay{
    margin-top: 50px;
    margin-bottom: 50px ;
    width: 100%;
    height: 400px

}

.display{
    width:32%;
    height:100%;
    float: left;
    background-color: rgb(255, 209, 0);
    border: 4px solid black;
}

.display img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.display p {
    
    font-size: larger;
    padding: 5%;
    text-align: center;
   

}

























.headline {
    height: 80px;
    width: 100%;
}

.subHeadline {
    float:left;
    height: 80px;
    width: 50%;
    margin: 0;

}

.imgleft {
    padding-top: 10px;
    width: 140px;
    float: left;
}

.imgright {
    padding-top: 12px;
    width: 100px;
    float: right;
}

.container {
    border: 3px solid black;
    background-color: rgb(255, 209, 0) ;
    height: 1000px;
}

.smallbox {
    width: 50%;
    height: 45%;
    float: left;
}

.galapagosimg {
    position: relative;
    margin-top: 1%;
    margin-left: 25% ;
    margin-right: 25%;
    width: 50%;
    height: 85%;
    border: 4px solid black;
}

.ingapircaimg {
    position: relative;
    margin-top: 1%;
    margin-left: 25% ;
    margin-right: 25%;
    width: 50%;
    height: 85%;
    border: 4px solid black;
}

.textDescription {
    font-size: large;
    text-align: center;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.tripInfo th{
    font-weight: normal;
    text-align: left;
}


.logo {
    height: 60px;
    width: 60px;
}

.contact {
    /* border: 4px solid red;  */
    padding: 10px 10px 10px 10px ;

}

.contactLink {
    padding: 20px;
    
}

nav {
    text-align: center;
}

nav li {
    display: inline-block;
}

nav li a {
    text-decoration: none;
    width: 100px;
    display: block;
    padding: 20px 15px;
    font-size: 20px;
    width: 100px;   
}

.copyright {
    text-align: center;
}